body {
  background-image: url('concrete.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: helvetica;
  text-align: center;
}

div.container {
  background-color: rgba(255,255,255,.5);
  height: 60%;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  padding: 50px;
}

h1 {
  color: #2F97C1;
}

h3 {
  text-align: center;
  font-size: 26px;
  color: #587291;
  margin: 20px;
}

p {
  display: inline;
}

input {
  width: 80%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.interface {
  width: 70%;
  border-radius: 10px;
  padding: 10px 20px;
}

#colloquial {
  color: blueViolet;
}
#submit {
  color: #fff;
  background-color: #6496c8;
  font-size: 16px;
  text-shadow: -1px 1px #417cb8;
  border: none;
  border-radius: 4px;
  height: 40px;
  width: 80%;
  box-shadow: 1px -2px rgba(200,200,200,.3);
}



